<h1>
  <Test/>
</h1>

<p> Wenn Justin das hier liest, ist er nicht cool. </p>

<p> Wir werden IT nicht auf einen anderen Tag als Freitag verschieben! </p>

 Gehen 3 Personen spazieren, ein Deutscher, ein Türke und ein Pole. Geht der
 Deutsche um die Ecke eines Hauses und er verschwindet, geht der Türke um die
 Ecke verschwindet er auch, geht der Pole um die Ecke verschwindet plötzlich
 die Ecke.

 <body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <p>
     <h2> Lague of Legends ist schlecht </h2>
   </p>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon">Der Button der Buttons</span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">

     <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> (⌐■_■)=/̵͇̿̿/’̿’̿ ̿ ̿̿﻿ ̿̿ ̿̿
 	 </button>
     </form>
   </div>
 </nav>

  ﴾͡๏̯͡๏﴿)

 <p>


</p>


 <div class="container">
   <div class="row">
     <div class="col-sm">

       ( ͡° ͜ʖ ͡°)

 	  </div>
     <div class="col-sm">
       <div class="card" style="width: 18rem;">

   <div class="card-body">
     <h5 class="card-title">Nathan kann garnichts</h5>
     <p class="card-text">Oh that sounds not good..</p>
     <a href="#" class="btn btn-primary">Click here to fix Nathans life</a>
   </div>
 </div>
     </div>
     <div class="col-sm">
<p>
       ( ͡° ͜ʖ ͡°)
</p>
     </div>
   </div>
 </div>

 Ging der Knopf nicht?
 <p>
 Jagut ¯\_(ツ)_/¯
</p>


 </body>
